<!DOCTYPE html>
<html>
<head>
  <title>TaskThree</title>
</head>
<body>

<p>You are back to your full health.</p>
<%= form_tag({:controller => 'user',:action => 'private'}, {:method => 'get'}) %>
<input type="submit" value="To town"/>
</body>
</html>
